<div id="main_content"><h1>Welcome to AppiTrak!</h1>
  <div id="main_description">
    login or create your account today to start tracking your habits
  </div>
  
  <div id="main_content_left">
    
    
    <div id="page_description">
    
      <div id="page_description">
        <strong>Track Habits with a press of a button:</strong>
        <br/>
        simply clicking a habit button records the date of time of your habit. 
      </div>
      <%= image_tag "/images/habits.png", :class => 'main_image' %>
      
      <div id="page_description">
        <strong>View your Habit trends by weeks or months:</strong>
        <br/>
        you can view your habits trends by week, month up to the past 6 months.
      </div>
      <%= image_tag "/images/trends.png", :class => 'main_image' %>
    
      <div id="page_description">
        <strong>Add custom Habits Types or used the built in ones:</strong>
        <br/>
        it is easy to add your own custom habits. any habit you add is only for you to use.
      </div>
      <%= image_tag "/images/habit_types.png", :class => 'main_image' %>
    
    </div>
        
  </div>  
  
</div>
