<div id="main_content"><h1>Welcome to AppiTrak!</h1>
  <div id="main_description">
    login or create your account today to start tracking your habits
  </div>
  <div id="main_content_left">
    <h3>Track Habits with a press of a button</h3>
      <%= image_tag "/images/habits.png", :class => 'main_image' %>
    <h3>View your Habit trends by weeks or months</h3>
      <%= image_tag "/images/trends.png", :class => 'main_image' %>
    <h3>Add custom Habits Types or used the built in ones</h3>
      <%= image_tag "/images/habit_types.png", :class => 'main_image' %>
  </div>  
</div>
