<div id="main_content"><h1>welcome to appitrak!</h1>
  <div id="main_description">
    login or sign up to start tracking your habits
  </div>
  <div id="main_content_left">
    <div id="page_description">
      <div id="page_description">
        <strong>track Habits with a press of a button:</strong>
        <br/>
        clicking a habit button records the date and time of your habit. 
      </div>
      <%= image_tag "/images/habits.png", :class => 'main_image' %>
      <div id="page_description">
        <strong>View your habit trends by weeks or months:</strong>
        <br/>
        you can view your habits trends by week, month up to the past 6 months.
      </div>
      <%= image_tag "/images/trends.png", :class => 'main_image' %>
      <div id="page_description">
        <strong>Add custom habits types or used the built in ones:</strong>
        <br/>
        it is easy to add your own custom habits. any habit you add is only for you to use.
      </div>
      <%= image_tag "/images/habit_types.png", :class => 'main_image' %>
      <div id="page_description">
        <strong>install apptrak webapp on your iphone:</strong>
        <br/>
        go to www.appitrak.com on your iphone and follow the popup's instructions 
      </div>
      <%= image_tag "/images/iphone.png", :class => 'main_image_iphone' %>
    </div>
  </div>  
</div>
