<h2>create account</h2>

<p>habitrak recognizes the importance your personal privacy and only collects and uses personal information that is necessary for the functionality of habitrak.</p>

<p>By using, registering for, or accessing habitrak, you agree to this privacy policy and give your consent to the uses of your personal information that are described below.</p>


<h3>What habitrak collects</h3>

<p>habitrak captures and retains the following personally information about its users: name, email address and password for access and use of habitrak. habitrak also captures date and time when you record a habit.</p>

<p>You can delete your account at anytime to remove all personal data from habitrak.</p>


<h3>Security</h3>

<p>habitrak is concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>


<h3>Changes</h3>

<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</p>

<h3>Contact Us</h3>

<p>If you have any questions or concerns about our privacy policies, please <%=mail_to "habitrak@cheapandsalty.com", "contact us", :subject => "habitrak support" %></p>