<div class="habit_types">
	<div class="new_habit">

  <%= form_for(:habit_type, :url => {:action => 'create'}, remote: true, :html => {:autocapitalize => 'none'})  do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f} ) %>
    <% if !mobile_device_iphone? %>
      <div><%= submit_tag "create", :id => "add_habit_type", :class=> "button" %></div>
    <% end %>
  <% end %>

	</div>
	<br />
	<h3>select your habit types</h3>
	<br />
  <%= link_to "", 
      {:action => 'habit_types'}, 
      id: "habit_types", 
      remote: true 
%>
  <div class="habit_types_container"></div>
</div>
