<div class="user create">
  <h1>Sign Up</h1>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>
  
    <div class="form-buttons">
      <%= submit_tag('Sign Up') %>
    </div>
  
  <% end %>
</div>