<div class="user_new">
  <h1>Create Account</h1>
  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f} ) %>
    <div class="form-buttons">
      <%= submit_tag "Create Account", :class=> "button" %>
      
      <% end %>
    </div>
</div>