<div class="login">
  <%= form_for(:user, :url => {:action => 'send_reset_password'}) do |f| %>
   <div><%= f.text_field :email, :placeholder => 'enter email' %></div>
   <%= f.hidden_field :password, :value => @new_password %>
   <div><%= submit_tag "reset password", :class=> "button" %>
        <% end %>
   </div>
</div>

