/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require morris
 */

* {
	margin:0;
	padding:0;
	outline-width: 0;
}

body {
  min-width: 420px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background: #fff;
	text-align: left;
	color: #505050;
	font-size: 75%;
	-webkit-opacity: .99;
	background: url('/images/main_bg.png');
	margin: 0 0 40px 0; 
}

.container{
  min-height: 100%;
  width:90%;
  margin: 0 auto 60px auto;
  padding:  0 0 100px 0;
}

.header{
  color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 30px 40px;
	height: 40px;
	display:block;
	background: #505050 url('/images/clock.png') no-repeat center;
}

.header p{
  font-size: 270%;
}

.footer {
  width: 100%;
  background: #fff;
  background: url('/images/footer.png');
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
}

.footer p {
  color: #787878;
  font-size: 120%;
  padding: 23px 0 0 0;
  text-shadow: 1px 1px #fff;
}

.footer a {
  color: #787878;
}

h1 {
  font-size: 260%;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
}

h2 {
  font-size: 220%;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: #787878;
}

a:hover {
  color: #cd1d1d;
}


/* navigation */

.menu {
  display: block;
  height:50px;
  margin: 0;
  background: url('/images/menu.png');
  border-bottom:solid 1px  #D8D8D8;
  border-top:solid 1px  #F0F0F0;
}

.menu ul {
  padding: 17px 2px 0 10px; 
}

.menu ul li{
  font-size: 130%;
  display: inline;
  margin: 0 2px 0 5px; 
  text-shadow: 1px 1px #fff;
}

.selected a {
  font-weight: bold;
  color: #cd1d1d;
}

.chosen {
  font-weight: bold;
  color: #cd1d1d;
}

/* page content */

#main_content {
  width: 900px;
  margin: 40px auto 0 auto;
}

#main_description {
  font-size: 120%;
  margin: 10px 0 50px 0;
}

#main_content_left {
  min-width: 400px;
  display: block; 
  margin: 0 0 100px 0;
  width: 45%;
  float:left;
}

#main_content_right {
  min-width: 400px;
  display: block; 
  padding: 0 0 0 0;
  margin: 0 0 100px 0;
  width: 45%;
  float:right;
}

#main_item {
  display: block;
  background-color: #f8f8f8;
  background: url('/images/page_item_bg.png');
  padding: 20px 30px 20px 30px;
  margin: 0 0 30px 0;
	border: solid 1px #E0E0E0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#main_item_description {
  font-size: 120%;
  margin: 10px 0 0px 0;
  display: block;
  background-color: #E0E0E0;
  padding: 20px;
	border: solid 1px #C8C8C8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-filter: drop-shadow(-1px -1px 1px rgba(0,0,0,.1));
}

#main_item_description h3{
  font-size: 130%;
  color: #505050;
  text-shadow: 1px 1px #f8f8f8;
  margin: 0 0 -10px 0;
}

.main_image { 
  margin: 30px auto 10px auto;
  max-width: 100%;
  -webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,.35));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#habit_chart_content {
  margin: 40px 0 0 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#habit_chart {
  width: 100%;
  margin: 40px 0 0 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#chart_refresh { 
  display:none;
}

.login{
  min-height: 100%;
  margin: 95px 0 0 0;
}

.signup {
  min-height: 100%;
  width: 100%;
  margin: 10px 0 0 0;
}

.habit{
  margin: 80px 0 0 0;
}

.habit_types {
  margin: 80px 0 0 0;
}

.habit_types_container {
  display: block;
  background-color: #f8f8f8;
  background: url('/images/page_item_bg.png');
  padding: 10px 0 10px 20px;
	border: solid 1px #E0E0E0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*-webkit-filter: drop-shadow(-1px -1px 1px #E0E0E0);
}
.habit_types ul li{
  font-size: 120%;
  margin: 0 auto 0 auto;
  display: block;
  padding: 0 0 10px 0;
}
.user_new{
  text-align: center;
  margin: 30px 0 0 0;
}

.user_create{
  margin: 30px 0 0 0;
}

.hide {
  display: none;
}

.habit_select_left{ 
  width:80%;
}

.habit_select_right{ 
  width:20%;
}

/* inputs and buttons */
input[type=text], input[type=password] {
  width: 100%;
  font-weight:normal;
  font-size: 140%;
	padding: 10px 0 8px 10px;
	margin: 0 0 10px 0;
	background: #fff;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.button{
  display: block;
  width: 100%;
  font-weight:normal;
  font-size: 140%;
  text-align: center;
	padding: 10px 0 8px 0;
	margin: 0 auto 10px auto;
	color:#333;
	border:1px solid #bbb;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: #fff 1px 1px 0px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.button:hover{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF380), to(#FDD017));
	background-image: -webkit-linear-gradient(top, #FFF380, #FDD017);
	background-image: -moz-linear-gradient(top, #FFF380, #FDD017);
	background-image: -ms-linear-gradient(top, #FFF380, #FDD017);
	background-image: -o-linear-gradient(top, #FFF380, #FDD017);
	background-image: linear-gradient(top, #FFF380, #FDD017);
	border:1px solid #EAC117;
	text-shadow: #FAF8CC 1px 1px ;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.button {
  width: 100%;
}

.main_button {
  max-height:40px !important;
  width: 100%;
}

.button:hover {
  color: #505050;
}

#habit_type_text_button {
  font-weight: bold;
  height: 20px;
  *width:100%;
  font-size: 90%;
  padding: 0 0 10px 0 ;
	margin: 0 10px 0 0 ;
	font-size: 140%;
  background:none !important;
  background-image: none !important;
  border:none !important;
  box-shadow: none;
  text-shadow: #fff 1px 1px;
  text-align: left;
}

#delete_text_button {
  height: 20px;
  width:100%;
  padding: 0 10px 0 0 ;
	margin: 0 10px 0 0 ;
	font-size: 120%;
  cursor: pointer;
  background:none !important;
  background-image: none !important;
  border:none !important;
  color:#505050 !important;
  box-shadow: none;
  text-shadow: #fff 1px 1px;
  text-align: right;
}

#delete_text_button:hover {
  color: #cd1d1d !important;
}

#habit_type_text_button:hover{
  color: #cd1d1d !important;
}

.chosen_yes input[type=submit]{
  color: #cd1d1d !important;
  cursor: pointer;
}

.chosen_yes input[type=submit]:hover{
  color: #cd1d1d !important;
}

.chosen input[type=submit]{
  color: #505050 !important;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
}

.chosen input[type=submit]:hover{
  display: none;
  color: #505050 !important;
}

#add_habit_type { 
  position: relative;
  top: -43px;
  width: 60px;
  padding: 3px 0 3px 0;
  margin: 0 10px 0 0;
  color: #505050;
  font-size: 110%;
  float:right;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#trend_selector {
  display: block;
  z-index: 99999;
  font-size: 140%;
  margin: 40px 0 0 12px;
}

#trends_dropdown {
  font-size: 120%;
  width: 200px;
  position: relative;
  top: -1px;
}

.checkbox {
  font-size: 120%;
  width: 100%;
  display: inline-block;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.checkbox label{
  cursor: pointer;
}

/* flash messages */
#flashContainer {
  display: block;
  position: absolute; 
  left: 50%;
  width: 100%;
}

#flashMessage {
  position: relative;
  left: -50%;
  width: 95%;
  margin: 0 auto 0 auto;
}

#flash_container_habbit_type {
  display: block;
  position: absolute; 
  left: 50%;
  width: 100%;
}

#flash_message_habbit_type {
  position: relative;
  top: -204px;
  left: -50%;
  width: 95%;
  margin: 0 auto 0 auto;
}

.notice {
  color: #fff;
  font-size: 140%;
	font-weight: bold;
	text-align: center;
  margin: 15px 0 18px 0;
	padding: 15px 14px;
  border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: #3B8230 0px 1px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.error {
  color: #fff;
  font-size: 140%;
	font-weight: bold;
	text-align: center;
  margin: 15px 0 18px 0;
	padding: 15px 14px;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #cd1d1d);
	background-image: -ms-linear-gradient(top, #ee5f5b, #cd1d1d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#cd1d1d));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #cd1d1d);
	background-image: -o-linear-gradient(top, #ee5f5b, #cd1d1d);
	background-image: linear-gradient(top, #ee5f5b, #cd1d1d);
	text-shadow: #c43c35 0px 1px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.alert {
  color: #fff;
  font-size: 140%;
	font-weight: bold;
	text-align: center;
  margin: 15px 0 18px 0;
	padding: 15px 14px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbfff), to(#1ba1fd));
	background-image: -webkit-linear-gradient(top, #7fbfff, #1ba1fd);
	background-image: -moz-linear-gradient(top, #7fbfff, #1ba1fd);
	background-image: -ms-linear-gradient(top, #7fbfff, #1ba1fd);
	background-image: -o-linear-gradient(top, #7fbfff, #1ba1fd);
	background-image: linear-gradient(top, #7fbfff, #1ba1fd);
	border:1px solid #1a95ea;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: #1ba1fd 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.field_with_errors input {
  border:1px solid #c43c35;
}

.field_with_errors ::-webkit-input-placeholder{
  color: #c43c35;
}

.errors{
  height: 0px;
  position: relative;
  color: #c43c35;
  font-size: 140%;
  top: 25px;
  text-align: right;
  margin: -12px 10px 0 0 ;
}
