/* iphone fixes */

h3 {
  margin: 0 0 8px 0
}

.menu ul {
  padding: 15px 2px 0 10px; 
}

.menu ul li{
  font-size: 140%; 
}

.header {
  height: 20px;
	background-size: 55%;
}

.header p {
  font-size: 195%;
  margin: -3px 0 0 -30px; 
}

.footer p {
  font-size: 120%;
  padding: 23px 0 0 0;
}

#main_content {
  width: 100%;
  min-width: 60%;
  margin: 40px auto 0 auto;
}

#main_description {
  font-size: 120%;
  margin: 10px 0 30px 0;
}

#main_content_left {
  min-width: 40%;
  display: block; 
  margin: 20px auto 0 auto;
  width: 100%;
  float:left;
}

#main_content_right {
  min-width: 40%;
  display: block; 
  padding: 0 0 0 0px;
  margin: 0 0 100px 0;
  width: 100%;
  float:left;
}

#main_item {
  max-width:100%;
}

/* inputs and buttons */

#trend_selector {
  font-size: 150%;
}

.button{
  display: block;
  width: 100%;
  font-weight:600;
  font-size: 180%;
  text-align: center;
	padding: 12px 0 10px 0;
	margin: 0 auto 15px auto;
	color:#505050;
	border:1px solid #bbb;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-shadow: #fff 1px 1px 1px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#habit_type_text_button {
  font-size: 170%;
  height: 30px;
  margin: 0 5px 0 0;
}

#delete_text_button {
  margin: 0 10px 5px -5px;
}

#trends_dropdown {
  font-size: 90%;
  width: 200px;
  position: relative;
  top: -1px;
}

#flash_message_habbit_type {
  position: relative;
  top: -198px;
  left: -50%;
  width: 95%;
  margin: 0 auto 0 auto;
}