<div id="habit_chart"> 
  <div id="habit_chart_no_date">please select a date</div> 
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#daily_chart_date_select").val('click to select a date(s)');
});
</script>