<div id="habit_chart"> 
  <div id="habit_chart_no_date">
    no data to display for <%= @single_date.strftime("%m/%d/%Y") %>.
    <br />
    <br />
    please choose another day.
  </div> 
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#daily_chart_date_select").val('click to select a date(s)');
});
</script>