<%= link_to "", 
    {:action => 'daily_chart'}, 
    id: "daily_charts", 
    remote: true 
%>

<%= form_for(
 			:daily_chart, 
 			:url => {:action => 'daily_chart'}, 
 			:html => { :id => 'date_selectors' }, 
 			remote: true) do |f| 
%>
 		
  <%= render(
  	:partial => 'form', 
  	:locals => {:f => f} ) 
  %>
  
<% end %>

<div id="trend_selector"> 
trend: 
<%= select_tag :trend, 
			("<option selected value='1'>Current Week</option>
			  <option value='2'>Last Week</option>
			  <option value='3'>Last 2 Weeks</option>
			  <option value='4'>Last Month</option> 
			  <option value='5'>Last 3 Months</option>
			  <option value='6'>Last 6 Months</option>"
			).html_safe, 
			:'data-remote' => 'true', 
			:'data-url' => url_for(:action => 'daily_chart'), 
			:id => "trends_dropdown",
			:onchange => 'setTrendCookie()'
%>
</div>
<div id="habit_chart_content"></div> 